body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.hlaf-with {
    width: 50%;
    padding-left: 45px;
}

.hlaf-with img {
    width: 80%;
}

.link-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 8px;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.profile-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 9px;
    color: white;
}

.gream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
}